<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<!--Header section-->
<th:block th:fragment="nhan-vien-header">
    <div class="sidebar" id="sidebar">
        <div class="logo">
            <a href="#" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-controls="menu"
               onclick="toggleSidebar()">
                <img src="/images/logo.png" width="40" height="40" alt="Logo">
            </a>
        </div>

        <div class="collapse" id="menu">
            <a href="/user/ban-hang">Bán Hàng</a>
            <a href="/user/hoa-don">Hóa Đơn</a>
            <a href="/user/don-hang">Đơn Hàng</a>
            <a href="/user/khach-hang">Khách Hàng</a>
            <a href="/user/bai-viet">Bài Viết</a>
            <a href="#" id="manageMenuToggle" class="toggle-menu">
                Quản Lý <span class="arrow">&#9662;</span>
            </a>
            <ul id="manageSubmenu" class="submenu">
                <li><a href="/admin/nhan-vien">Nhân Viên</a></li>
                <li><a href="/admin/spct/hien-thi">Sản Phẩm</a></li>
                <li><a href="/admin/loai-san-pham/hien-thi">Loại Sản Phẩm</a></li>
                <li><a href="/admin/mau-sac/hien-thi">Màu Sắc</a></li>
                <li><a href="/admin/hang/hien-thi">Hãng</a></li>
                <li><a href="/admin/hinh-anh/hien-thi">Hình Ảnh</a></li>
                <li><a href="/admin/thong-ke">Thống kê</a></li>
            </ul>
        </div>
    </div>
</th:block>

<!--Footer section-->
<th:block th:fragment="nhan-vien-footer">
    <footer class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <span class="m-auto">© 2024 - Bản quyền thuộc về TripleV</span>
        </div>
    </footer>
</th:block>
</body>
</html>