<!DOCTYPE html>
<html lang="vi"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ Bán Hàng</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link th:href="@{/css/nhanvien/trang_chu.css}" rel="stylesheet">
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="#">Trang Chủ</a></li>
        <li><a href="#">Sản Phẩm</a></li>
        <li><a href="#">Khách Hàng</a></li>
        <li><a href="#">Đơn Hàng</a></li>
        <li><a href="#">Thống Kê</a></li>
    </ul>
</div>
<div class="content">
    <h1>Trang Chủ Bán Hàng</h1>
    <p>Xin chào, NhanVien!</p>
    <p>Đây là trang chủ bán hàng của bạn.</p>
</div>

<script th:src="@{/js/customer/trang_chu.js}"></script>
</body>
</html>