<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Loại Sản Phẩm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link th:href="@{/css/admin/loai-san-pham-add.css}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Thêm Loại Sản Phẩm</h2>
    <form id="addForm" action="/loai-san-pham/add" method="post" onsubmit="event.preventDefault(); addLoaiSP();">
        <div class="form-group">
            <label for="kieuDangID">Kiểu Dáng:</label>
            <input type="text" class="form-control" id="kieuDangID" name="kieuDang" required>
        </div>
        <button type="submit" class="btn btn-success">Thêm</button>
        <a href="/spct/hien-thi" class="btn btn-secondary">Quay lại</a>
    </form>
</div>

<script th:src="@{/js/admin/loai-san-pham-update.js}"></script>

</body>
</html>


