<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loại Sản Phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
          rel="stylesheet">
    <link th:href="@{/css/admin/loaisp.css}" rel="stylesheet">
</head>

<body>

<th:block th:replace="~{/nhanvien/fragments :: nhan-vien-header}"/>

<div class="main-container">
    <div class="header d-flex align-items-center">
        <input type="text" id="searchInput" class="form-control search-input me-2" placeholder="Tìm kiếm..."
               style="display: none;">
        <button class="btn btn-outline-light me-2" type="button" onclick="toggleSearchInput()">
            <i class="bi bi-search"></i>
        </button>
        <!-- Dropdown tài khoản -->
        <div class="dropdown">
            <a class="btn btn-outline-light me-3" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                <li><a class="dropdown-item" href="/user/thong-tin">Thông tin tài khoản</a></li>
                <li><a class="dropdown-item text-danger" href="/logout"
                       onclick="return confirm('Bạn có chắc muốn đăng xuất không?')">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
    <div class="loaisp-form">
        <div class="loaisp-details text-center">
            <h2 id="tableTitle">Loại Sản Phẩm</h2>
            <a id="nutThemLoai" href="/admin/loai-san-pham/form-add" class="btn btn-success w-100">
                <i class="bi bi-plus-circle"></i>
            </a>
            <table id="categoryTable" class="table table-bordered table-hover">
                <thead class="thead-light">
                <tr>
                    <th>ID Loại Sản Phẩm</th>
                    <th>Kiểu Dáng</th>
                    <th>Ngày Tạo</th>
                    <th>Ngày Sửa</th>
                    <th>Hành Động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="loaiSanPham : ${loaisp}">
                    <td th:text="${loaiSanPham.id}"></td>
                    <td th:text="${loaiSanPham.kieuDang}"></td>
                    <td th:text="${#dates.format(loaiSanPham.ngayTao, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(loaiSanPham.ngayCapNhat, 'yyyy-MM-dd')}"></td>
                    <td>
                        <a th:href="@{/admin/loai-san-pham/form-update/{id}(id=${loaiSanPham.id})}" class="btn btn-custom btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a th:href="@{/admin/loai-san-pham/delete/{id}(id=${loaiSanPham.id})}" class="btn btn-danger"
                           onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Footer section-->
    <th:block th:replace="~{/nhanvien/fragments :: nhan-vien-footer}"/>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/admin/spct.js}"></script>

</html>
