<!DOCTYPE html>
<html lang="vi"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Sản Phẩm Chi Tiết</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="../../static/css/admin/spct-add.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Thêm Sản Phẩm Chi Tiết</h2>
    <form id="addForm" method="POST" action="/spct/add" enctype="multipart/form-data"
          onsubmit="event.preventDefault(); addSanPhamChiTiet();">
        <div class="form-group">
            <label for="sanPham">Sản Phẩm:</label>
            <input type="text" class="form-control" id="sanPham" name="sanPham" required>
        </div>
        <div class="form-group">
            <label for="mauSac">Màu Sắc:</label>
            <input type="text" class="form-control" id="mauSac" name="mauSac" required>
        </div>
        <div class="form-group">
            <label for="hang">Hãng:</label>
            <input type="text" class="form-control" id="hang" name="hang" required>
        </div>
        <div class="form-group">
            <label for="hinhAnh">Hình Ảnh:</label>
            <input type="text" class="form-control" id="hinhAnh" name="hinhAnh" required>
        </div>
        <div class="form-group">
            <label for="loaiSanPham">Loại Sản Phẩm:</label>
            <input type="text" class="form-control" id="loaiSanPham" name="loaiSanPham" required>
        </div>
        <div class="form-group">
            <label for="trangThai">Trạng Thái:</label>
            <select class="form-control" id="trangThai" name="trangThai" required>
                <option value="Còn Hàng">Còn Hàng</option>
                <option value="Hết Hàng">Hết Hàng</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
        <a href="/spct/hien-thi" class="btn btn-secondary">Quay Lại</a>
    </form>
</div>

<script src="../../static/js/admin/spct-add.js"></script>

</body>
</html>
